.story_preview{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
}
.story_preview > img {
    width: 50%;
}
.story_previewloading{
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin-bottom: 20px;
}
.innerloading{
    height: 2px;
    background-color: #fff;
    animation: loadStory 5s linear;
}
@keyframes loadStory {
    0%{
      width: 0%;
    }
    100% {
        width: 100%;
    }
}
.preview__close{
 font-size: 40px;
 color: #fff;
 position: absolute;
 top: 50px; 
 right: 50px;
 cursor: pointer; 
}